@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


body{
  background-color: rgba(4,64,162,255);
  min-height: 100vh;
  overflow-x: hidden; 
}


header{
  position: absolute;
  width:100%; 
  padding:30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;  
}
.logo {
  font-size: 2em;
  pointer-events: none;
  color: #a99fff64;
 margin-right: 270px;
}
nav a{
    text-decoration: none;
    color: #a99fff64;
    border-radius: 20px;
    padding: 6px 15px;
    margin: 0 10px;
    font-weight: 600;
  }
  nav a:hover,
  nav a.active{
    background-color: #a99fff64;
    color: #00ddff7b;
  }


    
  
  .parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  pointer-events: none;
}

.faixa1 {
  top: 854px;
  position: relative;
  height: 500px;
  font-family: 'Times New Roman', Times, serif;
  z-index: 1;
  background-color: #07112a;
  background: rgb(7,17,42);
background: linear-gradient(180deg, rgba(8,35,62,255) 50%, rgba(4,12,25,1) 60%);
}

.sectionCuriosidade{
  top: 853px;
position: relative;
height: 500px;
font-family: 'Times New Roman', Times, serif;
z-index: 1;
background-color: rgba(4,12,25,255);
color: rgba(250, 235, 215, 0.715);
}
.cardsCuriosidades{
width: 100%;
height: 600px;
display:  flex;
flex-direction: row;
justify-content: space-between;

}


.titulo{
  color: rgba(250, 235, 215, 0.632);
  display: flex;
text-align: center;
font-weight: bold;
  font-size: 30px;
  bottom: 40px;
  position: relative;
}

.texto{
  align-self: center;
  position: absolute;
}

.Curiosidade1{
  top: 193px;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: start;
  position: static;
      left: 0px;
  border: 2px solid #0b0331;
  border-radius: 20px;
  padding-top: 50px;
  z-index: 1;
align-items: first baseline;
}

.Curiosidade1:not(:first-child) {
  margin-left: -50px;
}

.Curiosidade1:hover {
  transform: translateY(-20px);
}

.Curiosidade1:hover~.card {
  left: 50px;
}


.Curiosidade2{
  top: 193px;
  width: 300px;
  height: 400px;
  display: flex;
  position: static;
    justify-content: flex-start;
  border: 2px solid #0b0331;
  border-radius: 20px;
  padding-top: 50px;
  z-index: 1;
}

.Curiosidade2:not(:first-child) {
  margin-left: -50px;
}

.Curiosidade2:hover {
  transform: translateY(-20px);
}

.Curiosidade2:hover~.card {
  left: 50px;
}


.Curiosidade3{
  top: 193px;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  position: static;
    left: 0px;
  border: 2px solid #0b0331;
  border-radius: 20px;
  padding-top: 50px;
  z-index: 1;
  
}


.Curiosidade3:not(:first-child) {
  margin-left: -50px;
}

.Curiosidade3:hover {
  transform: translateY(-20px);
}

.Curiosidade3:hover~.card {
  left: 50px;
}

.Curiosidade4{
  top: 193px;
  width: 300px;
  height: 400px;
  display: flex;
 justify-content: end;
 position: sticky;
   left: 0px;
  border: 2px solid #0b0331;
  border-radius: 20px;
  padding-top: 50px;
  z-index: 1;

}


.Curiosidade4:not(:first-child) {
  margin-left: -50px;
}

.Curiosidade4:hover {
  transform: translateY(-20px);
}

.Curiosidade4:hover~.card {
  left: 50px;
}



footer {
  position: relative;
  width: 100%;
  background: #3586ff ;
  min-height: 100px;
  padding: 20px 50px;
  top: 853px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .icons1, 
footer .menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
z-index: 3;

}

footer .icons1 li,
footer .menu  li{
  list-style: none;
}
footer .icons1 li a
{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .icons1 li a:hover
{
   transform: translateY(-10px);
}


footer .menu  li a 
{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu  li a:hover
{
  opacity: 1;
}
footer p 
{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .onda
{
position: absolute;
top: -100px;
left: 0;
width: 100%;
height: 100px;
background: url(./IMG/HOMEPAGE/wave.png);
background-size: 1000px  100px;
z-index: 3;
}


footer .onda#onda1
{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animatewave 4s linear infinite;
}

footer .onda#onda2
{
  z-index: 999;
  opacity: 0.5;
  bottom: 10;
  animation: animatewave2 4s linear infinite;
}

footer .onda#onda3
{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15;
  animation: animatewave 3s linear infinite;
}

footer .onda#onda4
{
  z-index: 999;
  opacity: 0.7;
  bottom: 20;
  animation: animatewave2 3s linear infinite;
}

@keyframes animatewave 
{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}



@keyframes animatewave2 
{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}