@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


body{
  background-color: rgba(4,64,162,255);
  min-height: 100vh;
  overflow-x: hidden; 
}


header{
  position: absolute;
  width:100%; 
  padding:30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;  
}
.logo {
  font-size: 2em;
  pointer-events: none;
  color: #3927db;
 margin-right: 270px;
}
nav a{
    text-decoration: none;
    color: #3927db;
    border-radius: 20px;
    padding: 6px 15px;
    margin: 0 10px;
    font-weight: 600;
  }
  nav a:hover,
  nav a.active{
    background-color: #3927db;
    color: #fff;
  }

  .titanic {
    bottom: 4000px;
  }
    
  
  .parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.degrade{
  top: 1018px;
  position: relative;
  height: 400px;
  color: black;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(8,11,18,255) 0%, #221691 35%,rgba(4,64,162,255)100%);
  z-index: 1;
}

.sectionCuriosidade{
  top: 1500px;
position: relative;
height: 500px;
font-family: 'Times New Roman', Times, serif;
z-index: 1;
background-color: rgb(57, 62, 162);

}
.cardsCuriosidades{
width: 100%;
height: 600px;
display:  flex;
flex-direction: row;
justify-content: space-between;

}


.titulo{
  color: #0b0331;
  display: flex;
text-align: center;
font-weight: bold;
  font-size: 30px;
  bottom: 40px;
  position: relative;
}

.texto{
  align-self: center;
  position: absolute;
}

.Curiosidade1{
  top: 193px;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: start;
  position: sticky;
    left: 0px;
  border: 2px solid #0b0331;
  border-radius: 20px;
  padding-top: 50px;
  z-index: 1;
align-items: first baseline;
}

.Curiosidade1:not(:first-child) {
  margin-left: -50px;
}

.Curiosidade1:hover {
  transform: translateY(-20px);
}

.Curiosidade1:hover~.card {
  left: 50px;
}


.Curiosidade2{
  top: 193px;
  width: 300px;
  height: 400px;
  display: flex;
  position: sticky;
    justify-content: flex-start;
  border: 2px solid #0b0331;
  border-radius: 20px;
  padding-top: 50px;
  z-index: 1;
}

.Curiosidade2:not(:first-child) {
  margin-left: -50px;
}

.Curiosidade2:hover {
  transform: translateY(-20px);
}

.Curiosidade2:hover~.card {
  left: 50px;
}


.Curiosidade3{
  top: 193px;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  left: 0px;
  border: 2px solid #0b0331;
  border-radius: 20px;
  padding-top: 50px;
  z-index: 1;
  
}


.Curiosidade3:not(:first-child) {
  margin-left: -50px;
}

.Curiosidade3:hover {
  transform: translateY(-20px);
}

.Curiosidade3:hover~.card {
  left: 50px;
}

.Curiosidade4{
  top: 193px;
  width: 300px;
  height: 400px;
  display: flex;
 justify-content: end;
 position: sticky;
   left: 0px;
  border: 2px solid #0b0331;
  border-radius: 20px;
  padding-top: 50px;
  z-index: 1;

}


.Curiosidade4:not(:first-child) {
  margin-left: -50px;
}

.Curiosidade4:hover {
  transform: translateY(-20px);
}

.Curiosidade4:hover~.card {
  left: 50px;
}