@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


body {
  background: url("./IMG/HOMEPAGE/projeto_big.png") no-repeat center top 79px;
  overflow-x: hidden;
  background-size: contain;
  background-color: rgb(83, 85, 121);
  position: relative;
}



header{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
padding: 0.1rem 5%;
background: rgba(0, 151, 252, 0.1);  
backdrop-filter: blur(50px);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
header img{
  left: -40px;
  width: 70px;
  height: 70px;
  position: relative;
}

  .header::after {
content: '';
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(90deg, transparent, rgba(195, 211, 229, 0.259),transparent );
transition: .5s;
  }
  .header:hover::after{
    left: 100%;
  }



.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

    
.section_shark {
  position: relative;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 0 20px;
  top: 300px;
  width: 100%; 
}

.section_shark .content {
  color: #100227;
  max-width: 1200px;
  width: 100%;
  text-align: left; 
  left: 50px;
  position: relative;
}

.section_shark .content h1 {
  font-size: 3rem;
  max-width: 600px;
}

.section_shark .content p {
  font-weight: 300;
  margin-top: 15px;
  max-width: 600px;
}

.section_shark .content button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007BFF; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #0056b3;
  transition: background-color 0.3s ease;
}

.section_shark .content button:hover {
  background-color: #0056b3; 
}

.sectionCuriosidade{
  top: 546px;
position: relative;
height: 500px;
font-family: 'Times New Roman', Times, serif;
z-index: 1;
background-color: #213953;
color: rgba(250, 235, 215, 0.715);
}


.wrapper 
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 top: 100px;
  position: relative;
}

.conteiner
{
  height: 400px;
  display: flex;
   flex-wrap:   nowrap;
   justify-content: start;
}

.card 
{
  bottom: 100px;
  position: relative;
width: 80px;
border-radius: .75rem;
background-size: cover;
cursor: pointer;
overflow: hidden;
border-radius: 2rem;
margin: 0 10px;
display: flex;
align-items: flex-end;
transition: .6s cubic-bezier(.28, -0.03,0,.99);
box-shadow:  0px 10px 30px  -5px rgba(0, 0, 0, 0.8);

}

.card > .row 
{
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icons2
{
  background: #233;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  display: flex;  
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .descricao
{
display: flex;
justify-content: center;
flex-direction: column;
overflow: hidden;
height: 80px;
width: 520px;
opacity: 0;
transform: translateY(30px);
transition-delay: .3s;
transition:  all .3s ease;
}

.descricao p {
  color: #b0b0ba;
  padding-top: 5px;
}
.descricao h4 
{
   text-decoration: uppercase;
}
.descricao a 
{
  color: #fff;
}

input {
  display: none;
}

input:checked + label
{
  width: 600px;
}

input:checked + label .descricao
{
   opacity: 1 !important;
    transform:  translateY(0) !important;
}
.card[for="c1"] {
   background-image: url("./IMG/HOMEPAGE/alimetacao.png");
}
.card[for="c2"] {
  background-image: url("./IMG/HOMEPAGE/regioes.png");
}
.card[for="c3"] {
  background-image: url("./IMG/HOMEPAGE/biologia.png");
}
.card[for="c4"] {
  background-image: url("./IMG/HOMEPAGE/amizade.png");
}

footer {
  position: relative;
  width: 100%;
  background: #3586ff ;
  min-height: 100px;
  padding: 20px 50px;
  top: 557px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .icons1, 
footer .menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
flex-wrap: wrap;
z-index: 3;

}

footer .icons1 li,
footer .menu  li{
  list-style: none;
}
footer .icons1 li a
{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .icons1 li a:hover
{
   transform: translateY(-10px);
}


footer .menu  li a 
{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu  li a:hover
{
  opacity: 1;
}
footer p 
{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .onda
{
position: absolute;
top: -100px;
left: 0;
width: 100%;
height: 100px;
background: url(./IMG/HOMEPAGE/wave.png);
background-size: 1000px  100px;
z-index: 3;
}


footer .onda#onda1
{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animatewave 4s linear infinite;
}

footer .onda#onda2
{
  z-index: 999;
  opacity: 0.5;
  bottom: 10;
  animation: animatewave2 4s linear infinite;
}

footer .onda#onda3
{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15;
  animation: animatewave 3s linear infinite;
}

footer .onda#onda4
{
  z-index: 999;
  opacity: 0.7;
  bottom: 20;
  animation: animatewave2 3s linear infinite;
}

@keyframes animatewave 
{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}



@keyframes animatewave2 
{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}