@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


body {
  overflow-x: hidden;
  background-color: rgb(83, 85, 121);
 
}



header{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
padding: 0.1rem 5%;
background: rgba(0, 151, 252, 0.1);  
backdrop-filter: blur(50px);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
header img{
  left: -40px;
  width: 70px;
  height: 70px;
  position: relative;
}

  .header::after {
content: '';
position: absolute;
top: 0;
left: -100%;
width: 100%;
height: 100%;
background: linear-gradient(90deg, transparent, rgba(195, 211, 229, 0.259),transparent );
transition: .5s;
  }
  .header:hover::after{
    left: 100%;
  }



.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

.main 
{
    min-height: 100vh;
    background: url('./IMG/Quiz/fundo.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.home
{
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.home-content
{
max-width: 600px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.home-content h1{
    left: 90px;
    position: relative;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0,0, .3);
}

.home-content p{
     font-size: 16px;
     text-align: center;
     text-shadow:  0 0 10px rgba(0,0,0, .3);
     margin-bottom: 30px;
}

.home-content .button
{
    width: 190px;
    height:  55px;
    background: #007BFF;
    border:  2px  solid #bffcfc;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #007BFF;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s ;
}

.home-content .button:hover {
    background: #bffcfc;
    box-shadow: none;

}
.modal1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #b2d9f3;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.modal1.active
{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal1 h2 {
    font-size: 50px;
    color: #007BFF;
}

.modal1 .regra {
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.modal1 .button2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.modal1 .button2 .info-btn, 
.btn-sair {
    width: 130px;
    height: 45px;
    background: #007BFF;
    border: 2px solid #007BFF;
    outline: none;
    border-radius: 6px;
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    font-weight: 600;
    box-shadow:  0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    transition: .5s;
}



.modal1 .button2 .btn-sair:nth-child(1)
{
background: transparent;
color: #007BFF;
}

.modal1 .button2 .btn-sair:nth-child(1):hover
{
background: #007BFF;
color: #fff;
}

